@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 17, 17);
    font-size: 1.1em;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{
    background-color: rgb(153, 41, 41);
    width: 400px;
    height: 700px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);

    transition: width 0.5s, height 0.5s;
}

div{
    display: block;
    padding: 10px;
}

div#imagem{
    background: url(../imagens/building-8003029_1920.jpg) no-repeat;
    background-size: cover;
    height: 400px;

    
}

h1 {
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
   
h1 {
    text-align: center;
}

p {
    padding: 10px;
}

form > #ilogim:hover, #isenha:hover {
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-radius: 5px;
}

form > input[type=submit], [type=reset] {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 30px;
}

form > input[type=submit]:hover, [type=reset]:hover {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    height: 40px;
    background-color: rgb(213, 213, 213);
    color: brown;
}

a {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    font-size: 0.6em;
    border: 2px;
    width: 100%;
}

a:hover {
    color: brown;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(213, 213, 213);
}